/**
 * Layout header/ Header Top
 *
 */
 
.header-top{
	padding:7px 0;
	font-size: .875em;
	background: $cx-tertiary-color;
	color: $cx-white-color;
	a {
		color: $cx-white-color;
		&:focus,
		&:hover {
			color: $cx-primary-color;
		}
	}

	.quote-btn {
		height:40px;
		margin-left: 15px;
		padding: 12px 15px;
		&:hover {
			color: $cx-white-color;
		}
	}

	@include media-only(600px, max) {
		display: none;
	}

	.social-icons {
		display: inline-block;
	}

	height:40px;
	overflow: hidden;


}


.top-content{
	text-align: right;
	.bar{
		margin:0 5px;
	}

	a {

		position: relative;
		padding-left:7px;
		padding-right: 5px;

		&:first-child {
			padding-right: 10px;
			&::after {
				content: "";
			    position: absolute;
			    width: 1px;
			    height: 10px;
			    background: #ffffff;
			    top: 0;
			    left: auto;
			    right: 0;
			    bottom: 0;
			    margin: auto;

			}
		}
	}
}

.header-box-wrapper {
	float: right;
	width:auto;


	.header-box {
		&:first-child {
			float: left;
			margin-right: 50px;
		}

		&:last-child {
			float: right;
		}
	}
}



.header-box {
	.box-icon {
		@include cx-circle(50px);
		float: left;
		border: 1px solid $cx-border-color;
		margin-right: 15px;
		i {
			font-size: 20px;
		}
	}

	.box-content {
		float: right;
	}
}



.logo-area {
	@include flex-center(flex-start, center);
}