/**
 * Layout header/ Header
 *
 */
 
.logo {
	max-width:167px;
	a{
		display: block;
		width:100%;
	}

	@include media-only(notebook, max) {
		margin-top: 0;
	}
}

.header-inline {
	@include media-only(notebook, max) {
		padding: 10px 0;
	}
}

.logo-area {
	padding:15px 0;
	@extend %clearfix;
	@include flex-center(flex-start, center);
	.no-flexbox & {
		display: block;
		.header-box-wrapper {
			margin-top: 7px;
		}
	}
}

.header-box {
	p {
		margin-bottom: 0;
	}
}
