/**
 * Layout header/ Header Top
 *
 */
 
.header-top{
	padding:7px 0;
	font-size: .875em;
	@extend %bgc-tertiary;
	@extend %color-white;
	a {
		@extend %color-white;
		&:focus,
		&:hover {
			@extend %color-primary;
		}
	}

	@include media-only(600px, max) {
		display: none;
	}
}


.top-content{
	text-align: right;
	.bar{
		margin:0 5px;
	}
}


