/**
 * Layout header/ Header
 *
 */
 
.logo {
	max-width:120px;
	margin-top: 11px;
	a{
		display: block;
		width:100%;
	}

	@include media-only(notebook, max) {
		margin-top: 0;
	}
}

.header-inline {
	@include media-only(notebook, max) {
		padding: 10px 0;
	}
}

