// typography 
$cx-body-font-family: 					'Muli', sans-serif !default;
$cx-heading-font-family: 				'Merriweather', serif !default;


// Colors
$cx-text-color: 						#404040 !default; // black
$cx-body-bg-color: 						#fff !default; // white 

//$cx-primary-color:  					#e95223 !default; // Dark Orange
$cx-primary-color:  					#2D93BA !default; // Dark Orange
$cx-secondary-color: 					#3EA69B !default; // Dark Green
$cx-tertiary-color:						#2c2c2c !default; // Black
$cx-fourth-color: 						#E56353 !default;  // Yellow type
$cx-fifth-color: 						#3A556A !default;  // Yellow type

$cx-offset-color:						#e5e4e3 !default; // dark offwhite



$cx-border-color:						#ccc !default; // light gray

// line height  
$cx-body-font-size: 					16px !default;
$cx-body-line-height: 					1.6em !default;
$cx-body-font-weight : 					400 !default;



// default speacing 
$cx-heading-margin-bottom : 			25px !default;

$cx-section-spacing:	 				90px !default;
$cx-col-spacing:						0.5*$cx-section-spacing !default; // will be used as bottom margin/padding


// mobile spacing support
$shrink-factor:							0.75 !default; // shrink spacing for mobile
$cx-col-spacing-mob:					$shrink-factor*$cx-col-spacing !default; // shrink col spacing for mobile
$cx-section-spacing-mob:				$shrink-factor*$cx-section-spacing !default; // shrink col spacing for mobile

// default transition 
$cx-transition: 						all 0.3s ease !default;

//* screen size */
//* screen min width */

$cx-lg-screen:							1200px !default;
$cx-md-screen: 							992px !default;
$cx-sm-screen:							768px !default;
$cx-vsm-screen:							480px !default;

$cx-breakpoints: (
    "wide":    							$cx-lg-screen,
    "notebook":    						$cx-md-screen,
    "tablet":    						$cx-sm-screen,
    "small-mobile": 					$cx-vsm-screen, 
);




