/**
 * layout home-01/ testimonial
 *
 */

.testimonial-slider {
	color: lighten($cx-text-color, 100%);
	h3 {
		color: lighten($cx-text-color, 100%);
	}
	@extend %vpadding;
	@include cx-background("../img/background/testimonial.jpg");
	@include cx-overlay( linear-gradient(to left , $cx-primary-color, rgba($cx-text-color,0.8)));

	.testimonial-wrap {
		text-align: center;
	}
	.testimonial-carousel-type-02,
	.testimonial-carousel {
		margin-bottom: 20px;
		.comment-icon {
			margin-bottom: 35px;
			i {
				font-size: 30px;
			}

		}
	}
	
	.client-meta {
		padding-left: 100px;
		margin-top: 20px;
		opacity: .5;
		.client-name{
			margin:0 ;
			font-size: .85em;
			font-family: $cx-body-font-family;
			margin-bottom: 5px;
			text-transform: uppercase;
			letter-spacing: 2px;
			p {
				font-size: .85em;
				opacity: .75;
			}
		}
	}

}



.testimonial-nav {
	max-width:100%;
	margin: 0 auto ;
	.slick-list{
		min-height:80px;
	}
	.slick-track {
	    margin-top: 15px;
	}


	.slick-slide {
		visibility: hidden;
		@extend %cx-transition;
		opacity:0;
	}

	.slick-slide.slick-active {
		visibility: visible;
		opacity:1;
	}

	.nav-img {
		text-align: left;
		position: relative;
		cursor: pointer;
		img {
			position: absolute;
			left:0;
			top:-20px;
	    	opacity:.5;
	    	display: block;
	    	filter: blur(1px);
	    	@include cx-circle(80px)
	  		@include cx-transition(opacity .3s);
	    	@include respond-to(small-mobile) {
	    		width: 40px;
	    		height:40px;
	    	}
	    	
		}
	}

	.slick-center{
		.nav-img {
			img{
			opacity:1;
			filter: blur(0);
			}

			.client-meta {
				opacity:1;
			}
		}
	}

	@include respond-to(large-mobile) {
		max-width:360px;
	}

	@include respond-to(small-mobile) {
		max-width:280px;
	}

	.slick-prev {
		@include respond-to(small-mobile) {
			left:0;
		}
	}

	.slick-next {
		@include respond-to(small-mobile) {
			right:0;
		}
	}
}


