/**
 * layout home-01/ testimonial
 *
 */

.testimonial-slider {
	color: lighten($cx-text-color, 100%);
	h3 {
		color: lighten($cx-text-color, 100%);
	}
	@extend %vpadding;
	@include cx-background("../img/background/testimonial.jpg");
	@include cx-overlay( linear-gradient(to left , $cx-primary-color, rgba($cx-text-color,0.8)));
}

.testimonial-area {
	@include cx-background('../img/background/bitcoin-pixabay.jpg');
	@include cx-overlay(rgba(0,0,0,.65));
	color: $cx-white-color;
}