/**
 * Components buttons
 *
 */

 .default-btn {
 	@include button;
 	.sp-layer & {
 		color: #fff;
 		background-color: $cx-primary-color;
 		border-color: $cx-primary-color;
 		@include cx-transition($cx-transition);
 		&:hover {
 			background-color: $cx-secondary-color;
 			border-color: $cx-secondary-color;
 		}
 	}
 }