/**
 * components primary-slider
 *
 */

 // .slider-section {
 //    height: 500px;
 //    @include respond-to(notebook) {
 //        height: 470px;
 //    }

 //    @include respond-to(tablet) {
 //        height: 430px;
 //    }

 //    @include respond-to(mobile) {
 //        height:350px;
 //    }
 // }

.overlay-mask{
	@include abs-position(0,0,0,0);
	background-color: rgba(0,0,0,.55);
}

.sp-layer {
 	color: #fff;
    position: relative;
}


.slider-pro {
	h2 {
		&.sp-layer {
			font-size: 2.2em;
            margin-bottom: 10px;
		}
	}

	p {
		&.sp-layer {
			font-size: 1.1em;
            margin-bottom: 30px;
		}
	}
}

 .layer-wrapper {
	width: 1140px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    @include respond-to(notebook) {
    	width: 940px;
    }

    @include respond-to(tablet) {
    	width: 720px;
    }

    @include respond-to(mobile) {
        width:95%;
    	width: calc(100% - 15px);
    }
 }


.inner-wrapper {
    @include cx-centered(vertical);
    z-index: 1;
    &.left-aligned {
        text-align: left;
        left:0;
        @include respond-to(mobile) {
            text-align: center;
        }
    }

    &.center-aligned {
        @include cx-centered(both);
        text-align: center;
    }


    &.right-aligned {
        text-align: right;
        right:0;
        @include respond-to(mobile) {
            text-align: center;
        }
    }

    width:70%;
    @include respond-to(tablet) {
        width:90%;
    }

    @include respond-to(mobile) {
        width:100%;

    }
}
