/**
 * components primary-slider
 *
 */


.overlay-mask{
	@include abs-position(0,0,0,0);
	background-color: rgba(0,0,0,.65);
    background-image: url("../img/slider/home-1/overlay-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.sp-layer {
 	color: #fff;
    position: relative;
}


.slider-pro {
	h2 {
		&.sp-layer {
			font-size: 2.2em;
            margin-bottom: 10px;
		}
	}

	p {
		&.sp-layer {
			font-size: 1.1em;
            margin-bottom: 30px;
		}
	}
}

 .layer-wrapper {
	width: 1140px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    @include respond-to(notebook) {
    	width: 940px;
    }

    @include respond-to(tablet) {
    	width: 720px;
    }

    @include respond-to(mobile) {
        width:95%;
    	width: calc(100% - 15px);
    }
 }


.inner-wrapper {
    @include cx-centered(vertical);
    z-index: 1;
    &.left-aligned {
        text-align: left;
        left:0;
        @include respond-to(mobile) {
            text-align: center;
        }
    }

    &.center-aligned {
        @include cx-centered(both);
        text-align: center;
    }


    &.right-aligned {
        text-align: right;
        right:0;
        @include respond-to(mobile) {
            text-align: center;
        }
    }

    width:70%;
    @include respond-to(tablet) {
        width:90%;
    }

    @include respond-to(mobile) {
        width:100%;

    }
}


.sp-arrows {
    
    .sp-arrow {
        background-color: rgba($cx-primary-color, .55);
        -webkit-border-top-right-radius: 3px;
        -moz-border-top-right-radius: 3px;
        -ms-border-top-right-radius: 3px;
        -o-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-bottom-right-radius: 3px;
        -ms-border-bottom-right-radius: 3px;
        -o-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
        @include box(25px, 60px);
        @extend %cx-transition;

        &::before {
            @include box(22px, 60px);
            background-color: transparent;
            transform: none;
            content:"\f104";
            font-family: FontAwesome;
            font-size: 30px;
            color: #fff;
            top:0;
            left:0;
        }

        &::after {
            display: none;
        }

        &:hover {
            background-color: rgba($cx-primary-color, .85);
        }
    }

    .sp-previous-arrow {
        left:0;
    }

    .sp-next-arrow {
        right:0;
    }
}



