/**
 * components info-item
 *
 */

 .info-item {
 	margin-bottom: $cx-col-spacing;
 	@include respond-to(mobile) {
 		margin-bottom: $cx-col-spacing-mob;
 	}
 	&.centered {
 		text-align: center;
 	}

 	.thumb-icon {
 		margin-bottom: $cx-heading-margin-bottom;
 		span {
 			@include box(50px, 50px);
 			font-size: 50px;
 		}
	 	img {
	 		max-width:80px;
	 	}
 	}

 	h3 {
 		font-size: 1em;
 		text-transform: capitalize;
 		margin-bottom: 5px;
 	}

 	.info-content {
 		p {
 			&:last-child {
 				margin-bottom: 0;
 			}
 		}
 	}

 } // end of info-item